.background {
    background-image: url('../assets/design1.png');
    background-size: cover; 
    background-repeat: no-repeat;
    /* height: 100vh; */
    width: 100wh;
    background-position: bottom;
    background-attachment: fixed;
}
@media only screen and (max-width: 768px){

    .bck1 {
        background-image: url('../assets/bck_mobile.png');
        background-size: 100% 100vh;
        background-attachment: initial;
    }
    .bck2 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-image: url('../assets/bck_mobile_sg.png');
        background-size: 100% 100vh;
        background-attachment: initial;
    }

    .goDown {
        margin-bottom: 15vh;
    }
 }

.welcome-text-main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.heading {
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";  */
    font-family: "Helvetica";
    font-weight: 300;
}

.arrowDown {
    height:10px
}

.bck1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.small-caption{
    font-family: "Helvetica";
    font-weight: 300;
    font-size: small;
}

.navbar {
    font-weight: 300;
}

.navbar-collapse {
    text-align: right;
    position: absolute;
    top: 50px;
    display: flex;
    right: 0px;
    text-align: right;
    padding: 0.25rem 0.25rem;
    margin-right: 3vw;
}

.collapse:not(.show) {
    display: none;
    top: 0.25rem;
}