.background {
    background-image: url('../assets/design1_1.webp');
    background-size: cover; 
    background-repeat: no-repeat;
    /* height: 100vh; */
    width: 100wh;
    background-position: bottom;
    background-attachment: fixed;
}

.welcome-text-main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.welcome_div_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social_icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0
    /* background-color: red; */
}
.heading1 {
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";  */
    font-family: 'Marleigh';
    /* font-weight: 300; */
    font-size: 6rem;
    font-display: swap;
}
.heading_caption1 {
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 3vh;
}
.heading_caption2 {
    font-family: "Helvetica";
    font-weight: 200;
    font-size: 3vh;

}

.arrowDown {
    height:10px
}

.bck1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #7b8a6a; */
}
.bckBottom {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bck2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.small-caption{
    font-family: "Helvetica";
    font-weight: 300;
    font-size: small;
}

.navbar {
    font-weight: 300;
}

.navbar-collapse {
    text-align: right;
    position: absolute;
    top: 50px;
    display: flex;
    right: 0px;
    text-align: right;
    padding: 0.25rem 0.25rem;
    margin-right: 3vw;
}

.collapse:not(.show) {
    display: none;
    top: 0.25rem;
}


.div_about_me {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 4vw;
    padding: 4vw;
    padding-bottom: 0vw;
    margin-bottom: 0vw;
    /* background-color: aqua; */
}
.div_about_text {
    /* padding: 2vw; */
    padding-right: 4vw;
    text-align: left;
}
.about_text_title {
    font-family: 'Marleigh';
    font-size: 5vh;
    font-display: swap;
}
.about_text_para {
    font-family: "Helvetica";
    font-weight: 300;
}
.about_image {
    height: 30vh;
    width: 30vh
}
.about_me_link_to_work {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}
.contact_me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.contact_me_form {
    display:flex;
    flex-direction:column;
    width: 50vw; 
    padding: 5vh;
    padding-bottom: 15vh;
    align-self: center
}
.contact_me_text{
    font-family: "Helvetica";
    font-weight: 300;
    margin: 5px;
}
.form_submit_button{
    width: 25vw; 
    align-self: center;
    border: 2px solid grey;
    border-radius: 10% 8% 10% 10% / 12% 4% 10% 10%;
    background-color: #9CAF88; 
    color: white
}
.form_submit_button:hover {
    background-color: #7b8a6a; 
}
.form_input {
   align-self: stretch;
}
@media only screen and (max-width: 500px){


    .bck1 {
        background-image: url('../assets/texture5.webp');
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;

        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* margin:5vw */
    }
    .bckBottom {
        /* height: 100vh; */
        background-image: url('../assets/texture5.webp');
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
        overflow-y: scroll;
    }
    
    .goDown {
        margin-bottom: 15vh;
    }

    .welcome-text-main {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
    }
    .div_about_me {
        flex-direction: column-reverse;
        display: flex;
        margin: 8vw;
        padding: 4vw;
        padding-bottom: 0;
        margin-bottom: 0;
        align-items: center;
        justify-content: space-around;
    }
    .about_image {
        height: 15vh;
        width: 15vh;
        margin: 3vh;
    }

    .contact_me_form {
        margin-top: 3vh;
        width: max-content;
        display:flex;
        flex-direction:column;
        width: 70vw; 
        padding: 0vh;
        padding-bottom: 10vh;
        align-self: center
    }
    .heading_caption1 {
        font-family: "Helvetica";
        font-weight: 300;
        font-size: 3vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .heading1 {
        /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";  */
        font-family: 'Marleigh';
        /* font-weight: 300; */
        font-size: 4rem;
        font-display: swap;
    }
 }
