.background {
    background-image: url('../assets/design1_1.png');
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100wh;
    background-position: bottom;
    background-attachment: fixed;
}
.backgroundWorkDetail {
    background-image: url('../assets/texture5.jpg');
    background-size: cover; 
    /* background-repeat: no-repeat; */
    height: 100vh;
    overflow-y: scroll;
    /* background-position: bottom; */
    /* background-attachment: fixed; */
}
.workContainer {
    margin: 8vh;
    height: 100vh;
    
    /* width: 50px; */
}
.workContainerROW.row {
    justify-content:center
}
.workContainerCOL.col {
    padding:0px;
    display:flex;
    flex-grow:0;
}
.projectContainer {
    position: relative;
    height:252px;
    width:252px;
    border: 1px solid grey;
    margin: 1px;
    
}
.projectImage{
    position: relative;
    z-index: 1;
    height:250px;
    width:250px;
    object-fit:cover;
    transition: 300ms ease-in; 
}
.projectCaption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 300ms ease-in; 
}
.projectContainer:hover .projectCaption{
    visibility: visible;
    opacity: 1;
    z-index: 9;
}
.projectContainer:hover .projectImage{
    filter: brightness(0.3);
    transform: scale(1.2);
    z-index: 9;
}
.heading {
    font-family: 'Marleigh';
    font-size: 10vh;
    margin-top: 0px;
}
.date {
    font-family: "Helvetica";
    margin-bottom: 0px;
    font-size: 2vh;
    font-weight: 300;
}
.caption1 {
    font-family: "Helvetica";
    font-weight: 900;
    font-size: 3vh;
}
.summary {
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 2.5vh;
    font-style: italic;
}
.body {
    display: flex;
    flex-wrap: wrap;
}
.div_body {
    margin: 7px;
    padding: 5px;
}
.div_title_text {
    font-family: "Marleigh";
    /* font-weight: 900; */
    font-size: 4vh;
}
.div_title_img {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 2vh;
    font-style: italic;
    margin-bottom: 0px;
}
.div_text {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    white-space: pre-line
}
.div_image {
    width:-webkit-fill-available;
}
.skillsContainer{
    display: flex;
    justify-content: center;
    margin-top: 3.5vh;
    margin-bottom: 3vh;
    flex-flow: wrap;
}
.skill_body{
    padding: 2px 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 2px solid #333333;
    border-radius: 10% 8% 10% 10% / 12% 4% 10% 10%;
    text-align: center;
    cursor: pointer;
}
.skill_text{
    font-family: "Helvetica";
    font-weight: 400;
    margin: 0px;
}
.skill_body:hover {
    box-shadow:2px 8px 8px -7px hsla(0,0%,0%,.3);
    border: 3px solid #333333;
}